In [7]:
import pandas as pd
import numpy as np
df = pd.read_csv('movies.csv')
df

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9994,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n \n Stars:\nMorgan Taylor Camp...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

### How do you identify and handle the missing values in a Pandas Data_Frame?
* We searching for empty, wrong format data and dublicated cells.Also we have isnull() (True for NaN values) and notnull( d(False for NaN values) that showing missing values in each rows.
* There is plenty of various how to handle: deletion, imputation and substitution.
### What is imputation, and why might it be useful in dealing with missing data?
* Imputation is the process of filling in missing values with estimated or predicted values. It’s useful for maintaining data integrity and ensuring accurate analysis.

In [11]:
df.isnull()

      MOVIES   YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0      False  False  False   False     False  False  False    False   True
1      False  False  False   False     False  False  False    False   True
2      False  False  False   False     False  False  False    False   True
3      False  False  False   False     False  False  False    False   True
4      False  False  False    True     False  False   True     True   True
...      ...    ...    ...     ...       ...    ...    ...      ...    ...
9994   False  False  False    True     False  False   True     True   True
9995   False  False  False    True     False  False   True     True   True
9996   False  False  False    True     False  False   True     True   True
9997   False  False  False    True     False  False   True     True   True
9998   False  False  False    True     False  False   True     True   True

[9999 rows x 9 columns]

In [10]:
df.notnull()

      MOVIES  YEAR  GENRE  RATING  ONE-LINE  STARS  VOTES  RunTime  Gross
0       True  True   True    True      True   True   True     True  False
1       True  True   True    True      True   True   True     True  False
2       True  True   True    True      True   True   True     True  False
3       True  True   True    True      True   True   True     True  False
4       True  True   True   False      True   True  False    False  False
...      ...   ...    ...     ...       ...    ...    ...      ...    ...
9994    True  True   True   False      True   True  False    False  False
9995    True  True   True   False      True   True  False    False  False
9996    True  True   True   False      True   True  False    False  False
9997    True  True   True   False      True   True  False    False  False
9998    True  True   True   False      True   True  False    False  False

[9999 rows x 9 columns]

### How can you encode categorical variables in a Pandas DataFrame?
* To encode categorical variables, use techniques like one-hot encoding. It converts categorical features into binary columns, making them suitable for machine learning algorithms.
### What is one-hot encoding, and when would you use it in data preprocessing?
* One-hot encoding creates a binary column for each category, representing the presence or absence of that category.

### How do you identify and remove duplicate rows from a DataFrame?
* To identify and remove duplicate rows from a DataFrame, use the duplicated() and drop_duplicates() methods.
### Can you explain the difference between the duplicated() and drop_duplicates() methods in Pandas?
* duplicated() identifies duplicate rows, while drop_duplicates() removes them based on specified criteria.

In [12]:
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
9994     True
9995    False
9996    False
9997    False
9998    False
Length: 9999, dtype: bool

In [17]:
df.drop_duplicates()

,MOVIES,YEAR,GENRE,RATING,ONE-LINE,STARS,VOTES,RunTime,Gross
0,Blood Red Sky,(2021),"\nAction, Horror, Thriller",6.1,\nA woman with a mysterious illness is forced ...,\n Director:\nPeter Thorwarth\n| \n Star...,"21,062",121.0,NaN
1,Masters of the Universe: Revelation,(2021– ),"\nAnimation, Action, Adventure",5.0,\nThe war for Eternia begins again in what may...,"\n \n Stars:\nChris Wood, \nSara...","17,870",25.0,NaN
2,The Walking Dead,(2010–2022),"\nDrama, Horror, Thriller",8.2,\nSheriff Deputy Rick Grimes wakes up from a c...,"\n \n Stars:\nAndrew Lincoln, \n...","885,805",44.0,NaN
3,Rick and Morty,(2013– ),"\nAnimation, Adventure, Comedy",9.2,\nAn animated series that follows the exploits...,"\n \n Stars:\nJustin Roiland, \n...","414,849",23.0,NaN
4,Army of Thieves,(2021),"\nAction, Crime, Horror",NaN,"\nA prequel, set before the events of Army of ...",\n Director:\nMatthias Schweighöfer\n| \n ...,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
9993,Totenfrau,(2022– ),"\nDrama, Thriller",NaN,\nAdd a Plot\n,\n Director:\nNicolai Rohde\n| \n Stars:...,NaN,NaN,NaN
9995,Arcane,(2021– ),"\nAnimation, Action, Adventure",NaN,\nAdd a Plot\n,\n,NaN,NaN,NaN
9996,Heart of Invictus,(2022– ),"\nDocumentary, Sport",NaN,\nAdd a Plot\n,\n Director:\nOrlando von Einsiedel\n| \n ...,NaN,NaN,NaN
9997,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN
9998,The Imperfects,(2021– ),"\nAdventure, Drama, Fantasy",NaN,\nAdd a Plot\n,\n Director:\nJovanka Vuckovic\n| \n Sta...,NaN,NaN,NaN

### Discuss the importance of feature scaling in machine learning.
* Feature scaling ensures that all features are on a similar scale. It’s essential for many machine learning algorithms
### Explain the difference between min-max scaling and z-score normalization.
* Min-max scaling (normalization) rescales features to a range between 0 and 1.
Z-score normalization (standardization) transforms features to have a mean of 0 and a standard deviation of 1.

### What are outliers, and why might they impact machine learning models?
* Outliers are extreme values that deviate significantly from the rest of the data.
### Describe different methods for detecting outliers in a dataset in Python
* Methods for detecting outliers include statistical techniques, visualization, and domain knowledg
### How can you handle outliers in a continuous numerical variable in Python?
* To handle outliers, consider trimming, winsorizing, or transforming the data.